#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Lexend", sans-serif;

  --orange: #d66853;
  --brown: #7d4e57;
  --ligth-gray: #364156;
  --dark-blue: #212d40;
  --black: #00000a;
  --white: #f4eef3;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.event_container {
  max-width: 750px;
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 2.5rem;
  border-radius: 20%;
}

.event_img {
  box-shadow: 2px 2px 5px #252525, 3px 3px 8px #252525;
  border-radius: 2%;
  width: 350px;
  height: 250px;
}

.event_title {
  text-shadow: 2px 2px 5px #252525, 3px 3px 8px #252525;
  letter-spacing: 2px;
  color: var(--white);
}

.event_info {
  padding: 1.7rem;
  line-height: 1.4;
  border-radius: 10% / 50%;
  box-shadow: 3px 3px 4px var(--ligth-gray), -3px -3px 4px var(--ligth-gray);
  background-color: var(--white);
  color: var(--ligth-gray);
  font-size: 0.9rem;
}
