#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: "Poppins", sans-serif;

  --orange: #d66853;
  --brown: #7d4e57;
  --ligth-gray: #404752;
  --dark-gray: #1f242b;
  --dark-blue: #201d24;
  --black: hsl(0, 0%, 40%, 10%);
  --white: #f4eef3;
}

.boletera-input {
  padding: 0.8rem 0.4rem;
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  background-color: var(--dark-blue);
  border: none;
  border-radius: 2%;
}

.read-the-docs {
  color: #888;
}

.event_container {
  max-width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6em;
  margin-bottom: 3rem;
  padding: 2.7rem;
  border-radius: 3%;
  transition: all 1s ease;

  &&:hover {
    background-color: var(--black);
    cursor: pointer;
  }
}

.event_img {
  box-shadow: 2px 2px 5px #252525, 3px 3px 8px #252525;
  border-radius: 2%;
  width: 300px;
  height: 200px;
}

.event_title {
  letter-spacing: 2px;
  color: var(--white);
  margin: 0;
}

.event_info {
  width: 100%;
  margin: 0;
  line-height: 1.4;
  color: var(--white);
  font-size: 0.9rem;
  transition: transform 0.3s;
}

/* Form styles */

.singup_form {
  width: 250px;
  height: max-content;
  background-color: var(--dark-blue);
  border-radius: 1%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1.5rem;
}

.labels_form {
  display: flex;
  flex-direction: column;
}

.container_buttons_form {
  display: flex;
  gap: 0.6rem;
  margin-top: 0.7rem;
}
