:root {
  --orange: #d66853;
  --brown: #7d4e57;
  --ligth-gray: #364156;
  --dark-blue: #212d40;
  --black: #00000a;
  --white: #f4eef3;
}

.active {
  border-bottom: 1px solid var(--white);
}

.linkContainer {
  width: 100%;
  min-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.firstNavbar {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.socials {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.socialIcons {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.socialIconYT {
  cursor: pointer;
}

.homeLink {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: var(--white);
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;

  &&:hover {
    color: var(--white);
    text-shadow: 1px 1px 1px var(--orange), 2px 2px 2px var(--orange);
  }
}

.homeImg {
  align-self: center;
}

.profileLink {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: var(--white);
  transition: all 0.3s ease-in-out;

  &&:hover {
    color: var(--white);
    text-shadow: 1px 1px 1px var(--orange), 2px 2px 2px var(--orange);
  }
}

.profileContainer {
  margin: 3rem auto 0;
}

.tabsContainer {
  display: flex;
  gap: 2.3rem;
  margin: 1rem auto 3rem;
  width: 350px;
  justify-content: space-between;
}

.tab {
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.3s ease;

  &&:hover {
    opacity: 0.8;
  }
}
