:root {
  --dark-gray: #3c3c3c;
  --ligth-gray: #7a7a7a;
  --gap-elements: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2.1rem;
  max-width: 750px;
  margin: 2.5rem 0;
  background-color: var(--dark-gray);
  padding: 2.5rem;
  border-radius: 10px;
}

.mainInfoContainer {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-elements);
}

.infoTitle {
  letter-spacing: 2px;
  color: var(--white);
  font-size: 1.2rem;
}

.imgContainerInfo {
  width: 90%;
}

.imgInfo {
  width: 100%;
  object-fit: cover;
}

.infoText {
  font-size: 0.9rem;
  padding: 0 0.8rem;
}

.infoDate {
  padding: 0.8rem 0.6rem;
  border: 2px solid var(--ligth-gray);
}

.seatInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--gap-elements);
}

.seatMapTitle {
  font-size: 1.1rem;
  text-align: left;
}

.seatMapImgContainer {
  width: 95%;
  margin: 0 auto;
}

.seatMapImg {
  width: 100%;
}

.seatMapParagraph {
  padding: 0 1.5rem 0 0;
  font-size: 0.8rem;
  word-spacing: 2px;
}
