:root {
  --dark-gray: #3c3c3c;
  --ligth-gray: #7a7a7a;
  --black-ligth: #141313;
  --gap-elements: 1.5rem;
  --red: #fc6c6c;
  --green-ligth: #7cfe7c;
  --orange: #d66853;
  --brown: #7d4e57;
  --white: #f4eef3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.firstNavbar {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbarTitle {
  font-size: 1.5rem;
  letter-spacing: 2px;
  line-height: 1.1;
  color: var(--white);
  text-shadow: 2px 2px 3px var(--ligth-gray), 3px 3px 0px var(--ligth-gray);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.socials {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.socialIcons {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.socialIconYT {
  cursor: pointer;
}

.ticketContainer {
  width: 70px;
  height: 70px;
  margin-left: 1rem;
}

.profileLink {
  display: flex;
  align-items: center;
  gap: 0.35rem;
  color: var(--white);
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px var(--ligth-gray), 2px 2px 2px var(--ligth-gray);

  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
  transition: all 0.3s ease;

  &&:hover {
    cursor: pointer;
    color: var(--white);
    text-shadow: 1px 1px 1px var(--orange), 2px 2px 2px var(--orange);
  }
}

.homeImg {
  width: 25px;
  height: 25px;
}

.homeLink {
  color: var(--white);
  text-decoration: none;
  text-align: left;
  font-size: 1.2rem;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.35rem;

  &&:hover {
    color: var(--white);
    text-shadow: 1px 1px 1px var(--orange), 2px 2px 2px var(--orange);
  }
}

.container {
  max-width: 1100px;
}

.mainInfoContainer {
  width: 1100px;
  height: max-content;
  display: flex;
  gap: 2.1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 0 0;
  background-color: var(--dark-gray);
  border-radius: 10px 10px 0 0;
  position: relative;
  overflow: hidden;
}

.titleImgContainer {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
  position: absolute;
  top: 433px;
  width: 1100px;
  backdrop-filter: blur(25px);
  padding: 1rem 1.2rem;
  border-radius: 2px;
  z-index: 1;
}

.infoTitle {
  letter-spacing: 2px;
  color: var(--white);
  font-size: 1.5rem;
}

.imgInfo {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 4px var(--black-ligth);
  animation: beats infinite 1500ms both alternate;
}

@keyframes beats {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}

.seatInfoContainer {
  width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-elements);
  background-color: var(--dark-gray);
  padding: 3.5rem 1.2rem 0rem;
}

.pricesContainer {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: space-around;
  margin: 0.5rem 0rem 1rem;
  padding: 0.4rem;
}

.cardDetailsDate {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.dateDetails {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border: 1px solid var(--white);
  border-radius: 3px;
}

.locationAndTicketsDetails {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.titleDetails {
  letter-spacing: 2px;
}

.detailsTicketsLimit {
  color: var(--red);
  max-width: 550px;
}

.buyButton {
  width: 120px;
  align-self: center;
  color: var(--white);
  font-weight: bold;
  background-color: var(--ligth-gray);
  border: 1px solid var(--black-ligth);
  margin-top: 0.5rem;
  letter-spacing: 1px;
  transition: box-shadow 300ms ease-in-out;

  &&:hover {
    border: 1px solid var(--black-ligth);
    box-shadow: 1px 1px 2px var(--black-ligth), 3px 3px 4px var(--black-ligth);
  }
}
.buyButton:active {
  outline: none;
}

.pricesTable {
  width: 275px;
  min-height: 185px;
  text-align: center;
  background-color: var(--orange);
  padding: 1.5rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  color: var(--black-ligth);
}

.cardInsidesTitle {
  letter-spacing: 1.5px;
}

.standarPrice {
  font-size: 0.9rem;
}

.price {
  font-weight: bold;
  font-size: 0.95rem;
}

.seatMapImgContainer {
  width: 95%;
  display: flex;
  justify-content: center;
}

.seatMapImg {
  width: 80%;
  height: 600px;
}

.seatMapParagraph {
  background-color: var(--orange);
  width: 1100px;
  padding: 1rem 2.4rem;
  font-size: 0.85rem;
  word-spacing: 2px;
  color: var(--black-ligth);
  font-weight: 500;
}
