/* :root {
  --dark-gray: #3c3c3c;
  --ligth-gray: #7a7a7a;
  --black-ligth: #141313;
  --gap-elements: 1.5rem;
  --red: #fc6c6c;
  --green-ligth: #7cfe7c;
  --orange: #d66853;
  --brown: #7d4e57;
  --white: #f4eef3;
} */

li {
  list-style: none;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
  color: var(--ligth-gray);
  font-weight: bold;
  letter-spacing: 1px;

  &&:hover {
    transform: scale(1.03);
    color: var(--orange);
  }
}

.generalContainer {
  display: flex;
  width: 100%;
  background-color: var(--dark-gray);
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  width: 90%;
  margin: 50px auto;
  color: var(--white);
}

.footerSections:not(:last-child) {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.sectionTitles {
  font-size: 0.95rem;
  letter-spacing: 1px;
}

.footerList {
  display: flex;
  flex-direction: column;
  gap: 0.22rem;
}

.section1 {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.footerCoinTitle {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.imgEEUU {
  border-radius: 50%;
}

.footerCoinParagraph {
  max-width: 400px;
}

.companyInfo {
  font-size: 0.94rem;
}

.joinUsSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.socialIcons {
  width: 25px;
  cursor: pointer;
}
