.eventsContainer {
  margin: 0 auto;
  /* min-height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  /*
  flex-direction: column; */
  gap: 1rem;
  padding: 2rem;
}
